
.component{

  &-formwizard{
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 50px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 40px 0;
    }

    .sitetitle-xl{
      margin-bottom: 15px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-bottom: 10px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        text-align: center;
      }
    }

    .formwizard{

      &-form{}

      &-steptab{
        padding: 30px 0;

        @include BootstrapMaxWidthResponsive(hd){
          padding: 20px 0 30px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          padding: 10px 0 25px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          padding: 0 0 20px;
        }

        .wizardsteptab{
          @include flexbox-display-flex();
          @include flexbox-flex-wrap(wrap);
          border-bottom: 2px solid #E6E8EC;

          > li{
            @include flexbox-flex-basis(0);
            @include flexbox-flex-grow(1);
            max-width: 100%;
            color: $site-clr-text-soft-pri;
            @include responsive-font-size(1rem);
            text-align: center;
            padding: 30px 15px;
            position: relative;
            display: block;

            @include BootstrapMaxWidthResponsive(hd){
              padding: 20px 10px;
            }

            &::before,
            &::after{
              content: "";
              background-color: #E6E8EC;
              position: absolute;
              @include transition-multiple(width 0.15s ease-in-out, background 0.15s ease-in-out);
            }

            &::before{
              width: 10px;
              height: 10px;
              bottom: -11px;
              left: 50%;
              @include translateY(-50%);
              @include border-radius(50%);
            }

            &::after{
              width: 0px;
              height: 2px;
              left: 0;
              bottom: -2px;
            }

            &.active{
              font-weight: $var-custom-font-weight-bolder;

              &::before{background-color: $site-clr-cyan;}
              &::after{width: 50%; background-color: $site-clr-cyan;}
            }

            &.activated{
              &::before{background-color: $site-clr-cyan;}
              &::after{width: 100%; background-color: $site-clr-cyan; @include transition-multiple(width 0s ease-in-out);}
            }
          }
        }
      }

      &-stepbox{
        background-color: #edf1f5;
        min-height: 400px;
        padding: 30px;
        @include border-radius(6px);

        @include BootstrapMaxWidthResponsive(hd){
          padding: 25px;
        }

        .fieldsets{
          width: 100%;
          display: none;

          &.show{
            display: block;
          }

          &:first-child{
            .wizard-btn-prev{opacity: 0;}
          }

          &-forms{
            > .form-row{
              margin-bottom: 20px;

              @include BootstrapMaxWidthResponsive(hd){
                margin-bottom: 15px;
              }
              @include BootstrapMaxWidthResponsive(lg){
                margin-bottom: 0;
              }

              &:last-child{
                margin-bottom: 0;

                @include BootstrapMaxWidthResponsive(lg){
                  .form-group:last-child{margin-bottom: 0;}
                }
              }

              .form-group{
                @include BootstrapMaxWidthResponsive(lg){
                  margin-bottom: 15px;
                }
              }
            }

            .custom-control{

              label{
                opacity: 0.8;
                font-weight: $var-custom-font-weight-normal;
              }
              input[type="radio"]:checked+label{
                opacity: 1;
                font-weight: $var-custom-font-weight-bold;
              }
            }

            .colinlinecheckbox{
              @include flexbox-display-flex();
              @include flexbox-flex-direction(column);

              .checkboxarea{
                @include flexbox-display-flex();
                @include flexbox-align-items(center);
                //@include flexbox-justify-content(space-between);
                @include flexbox-flex(1);

                .custom-control-inline{
                  @include flexbox-flex-basis(0);
                  @include flexbox-flex-grow(1);
                  @include flexbox-align-items(center);
                  max-width: 100%;
                  min-height: 50px;

                  @include BootstrapMaxWidthResponsive(lg){
                    @include flexbox-flex(0 0 auto);
                    width: auto;
                    max-width: 100%;
                  }
                }
              }
            }

            .form-group{

              &.fielderror{
                .form-control{color: $site-clr-red; border-color: $site-clr-red;}
                @include placeholder{color: $site-clr-red;}

                .checkboxarea .custom-control-label{color: $site-clr-red;}
              }
              &.fieldsuccess{
                .form-control{color: $site-clr-cyan; border-color: $site-clr-cyan;}
                @include placeholder{color: $site-clr-cyan;}

                .checkboxarea .custom-control-label{color: $site-clr-cyan;}
              }
            }
          }

          &-actions{
            @include flexbox-display-flex();
            @include flexbox-flex-wrap(wrap);
            @include flexbox-justify-content(space-between);
            margin-top: 20px;

            > .btn{
              @include flexbox-flex(0 0 auto);
              max-width: 100%;
              min-width: 180px;
            }
          }

        }
      }
    }
  }

  &-formresult{
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 60px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 40px 0;
    }

    .sitetitle-xl{

      .resulticons{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 340px;
        height: 320px;
        display: block;
        margin: 20px auto 0;
        position: relative;

        @include BootstrapMaxWidthResponsive(hd){
          width: 300px;
          height: 280px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          width: 240px;
          height: 225px;
        }

        &.success{background-image: url(#{$path-img-url-icons}/form_result_icon_success.svg#{$cache-busting});}
        &.error{background-image: url(#{$path-img-url-icons}/form_result_icon_error.svg#{$cache-busting});}
      }
    }
  }

  &-awards{
    @include flexbox-flex(0);
    background-color: #131933;
    background-image: url(#{$path-img-url}/section/component_awards_bg.jpg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 60px 0;
    }

    .sitetitle-xl{
      margin-bottom: 60px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-bottom: 40px;
      }
    }

    .awardslist{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      color: $site-clr-white;
      text-align: center;

      > li{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        max-width: 100%;
        padding: 0 15px;
      }

      &-icon{
        @include flexbox-display-flex();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(center);
        background-image: url(#{$path-img-url}/section/component_awards_box.svg#{$cache-busting});
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #B18832;
        font-family: 'Baskerville BT';
        @include responsive-font-size(4.25rem);
        font-style: normal;
        line-height: 1;
        text-align: center;
        width: 155px;
        height: 135px;
        margin: 0 auto 10px;

        @include BootstrapMaxWidthResponsive(hd){
          @include responsive-font-size(4rem);
          width: 135px;
          height: 115px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 115px;
          height: 100px;
        }
        @include BootstrapMaxWidthResponsive(lg){
          width: 105px;
          height: 90px;
        }

        > span{
          position: relative;
          top: -5px;
        }
      }

      &-award{
        @include responsive-font-size(2.5rem);
        display: block;

        @include BootstrapMaxWidthResponsive(hd){
          @include responsive-font-size(2.2rem);
        }
      }

      &-desc{
        @include responsive-font-size(1.25rem);
        display: block;

        @include BootstrapMaxWidthResponsive(hd){
          @include responsive-font-size(1.1rem);
        }
      }

    }
  }

  &-jury{
    @include flexbox-flex(0);
    padding: 80px 0;

    @include BootstrapMaxWidthResponsive(hd){
      padding: 60px 0;
    }
    @include BootstrapMaxWidthResponsive(xl){
      padding: 50px 0;
    }

    .sitetitle-xl{
      margin-bottom: 60px;

      @include BootstrapMaxWidthResponsive(hd){
        margin-bottom: 40px;
      }
      @include BootstrapMaxWidthResponsive(lg){
        text-align: center;
      }
    }

    .jurylist{
      @include flexbox-display-flex();
      @include flexbox-flex-wrap(wrap);
      text-align: center;

      @include BootstrapMaxWidthResponsive(lg){
        @include flexbox-justify-content(center);
      }

      > li{
        @include flexbox-flex-basis(0);
        @include flexbox-flex-grow(1);
        max-width: 100%;
        padding: 0 15px;

        @include BootstrapMaxWidthResponsive(lg){
          @include flexbox-flex(0 0 calc(100% / 3));
          max-width: calc(100% / 3);
          padding: 15px;
        }
      }

      &-avatar{
        width: 186px;
        height: 186px;
        margin: 0 auto 10px;
        @include border-radius(50%);

        @include BootstrapMaxWidthResponsive(hd){
          width: 170px;
          height: 170px;
        }
        @include BootstrapMaxWidthResponsive(xl){
          width: 140px;
          height: 140px;
        }
      }

      &-title{
        @include responsive-font-size(1.875rem);
        display: block;

        @include BootstrapMaxWidthResponsive(hd){
          @include responsive-font-size(1.615rem);
        }
      }

      &-desc{
        @include responsive-font-size(1rem);
        display: block;
      }

    }
  }

}
