// Global Variables
@import "../../plugin/option/variables";
@import "../../plugin/option/variables_bootstrap";

// Global Mixin
@import "../../plugin/option/mixin";

.icon{
  $iconclassname: &;

  &-sprtsmclrd{
    background-image: url(#{$path-img-url-icons}/xxx.svg#{$cache-busting});
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    position: relative;

    &#{$iconclassname}-14{
      width: 14px;
      height: 14px;

      &#{$iconclassname}-edit{background-position: calc(-14px*0) 0;}
    }
  }
}

.siteicons{

  &dropdown{
    background-color: transparent;
    padding: 0;
    width: 12px;
    height: 12px;
    position: relative;

    &::after{
      display: none;
    }

    &::before{
      content: "";
      position:absolute;
      width: 7px;
      height: 7px;
      padding: 0;
      border-top: 2px solid $site-clr-darkblue-200;
      border-right: 2px solid $site-clr-darkblue-200;
    }

    &.updirection{
      &::before{
        top: calc(50% - 2px);
        left: calc(50% - 4px);
        @include rotate(315);
      }
    }
    &.downdirection{
      &::before{
        top: calc(50% - 5px);
        left: calc(50% - 4px);
        @include rotate(135);
      }
    }
    &.leftdirection{
      &::before{
        top: calc(50% - 4px);
        left: calc(50% - 2px);
        @include rotate(225);
      }
    }
    &.rightdirection{
      &::before{
        top: calc(50% - 4px);
        left: calc(50% - 5px);
        @include rotate(45);
      }
    }
  }

}